/* index.css for Uchi */

h1 {
    font-family: 'ostrich_sansmedium';
}

#main {
    /* position & size */
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 300px;
    padding: 50px;
    /* background */
    background: url("../images/Design1.jpg");
    background-size: cover;
    background-position: center;
    /* text */
    color: #FFFFFF;
}

#main h1 {
    /* position */
    margin-top: 0px;
    /* text */
    text-align: center;
    text-shadow: 0px 0px 10px #000000;
    font-size: 128px;
}

#searchbox {
    /* position & size */
    position: absolute;
    top: 250px;
    left: 0px;
    right: 0px;
    padding: 10px;
    /* text */
    text-align: center;
    /* background */
    background: rgba(0,0,0,.5);
}

#about {
    /* position & size */
    position: absolute;
    top: 400px;
    left: 0px;
    right: 0px;
    height: 200px;
    padding: 20px 50px 20px 50px;
    /* background */
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px #555555;
    /* text */
    color: #000000;
}

#about h1 {
    /* text */
    font-size: 24px;
}

#footer {
    /* position & size */
    position: absolute;
    top: 710px;
    left: 0px;
    right: 0px;
    /* text */
    font-size: 11px;
    text-align: center;
    color: #000000;
}