body {
	margin : 0px;
}

.sidebar {
	overflow : hidden;
	position : fixed;
	top : 64px;
	bottom : 0px;
	left : 0px;
	width : 300px;
	box-shadow : 0px 1px 2px #000000;
	background-color: #F7F7F7;
	z-index: 75;
}

.main_content {
	position : absolute;
	top : 64px;
	right : 0px;
	left : 300px;
	min-height: 114px;
	/*background-color:  #B5B6B6;*/
}

.search-filter {
	width : 100%;
	height : auto;
	text-align : center;
	display : inline-block;
	margin-top : 20px;
	margin-bottom: 20px;

}

.search-filter select {
	margin : auto;
	width : 250px;
	box-shadow: 2px 2px 4px #ddd;
	-moz-box-shadow: 2px 2px 4px #ddd;
	-webkit-box-shadow: 2px 2px 4px #ddd;
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.result_header {
	position: fixed;
	z-index: 50;
	top: 64px;
	left: 300px;
	right: 0px;
	height: 100px;
	background-color: #F0F0F0;
	text-align: center;
	font-size: 70;
	box-shadow: 2px 2px 4px #ddd;
	-moz-box-shadow: 2px 2px 4px #ddd;
	-webkit-box-shadow: 2px 2px 4px #ddd;
}

.result_grid {
	overflow: hidden;
	position: relative;
	top: 100px;
	width: 100%;
}

.result {
	text-align: center;
	position: relative;
	float:left;
	height: 280px;
	width: 280px;
	margin : 10px;
	border : solid black 1px;
	box-shadow: 2px 2px 4px #ddd;
	-moz-box-shadow: 2px 2px 4px #ddd;
	-webkit-box-shadow: 2px 2px 4px #ddd;
}

.result img {
	position: relative;
	width : 100%;
}

#budget_slider {
	top : 25%;
	width : 250px;
	margin : auto;
}

.filter_color {
	overflow : hidden;
	position : relative;
	width : 100%;
}

.filter_option {
	position : relative;
	float : left;
	display : inline-block;
	height : 60px;
	width : 60px;
	max-height: 20%;
	max-width: 30%;
	margin : 5px;
	border : solid 2px;
	box-shadow: 2px 3px 5px #000;
	-moz-box-shadow: 2px 3px 5px #000;
	-webkit-box-shadow: 2px 3px 5px #000;
	/*box-shadow: 2px 2px 4px #ddd;
	-moz-box-shadow: 2px 2px 4px #ddd;
	-webkit-box-shadow: 2px 2px 4px #ddd;*/
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor:pointer;
    -webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.filter_option img {
	display: inline-block;
	margin : auto;
	width : 50%;
	height : 50%;
}

.filter_option_selected {
	position:relative;
	top:3px;
	left:2px;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

#black_color {
	color : white;
	border-color : black;
}

.budget-label {
	margin-top: 10px;
}

#min-budget {
	position: absolute;
	left: 25px;
}

#max-budget {
	position: absolute;
	right : 25px;
}