body {
	margin: 0px;
}

.sidebar {
	overflow: hidden;
	position: fixed;
	top: 65px;
	bottom: 0px;
	left: 0px;
	width: 50%;
    background: url('../images/AccountBackground.jpg');
}

.result-title {
	text-align: center;
	height: 70px;
	width:100%;
	padding:1px;
	line-height: 80px;
	font-family: 'ostrich_sansmedium', Arial, sans-serif;
	font-size: 35px;
	
}
.result-designer {
	height:60px;
	width:100%;
	line-height:60px;
	text-align:center;
	font-family: 'ostrich_sansmedium', Arial, sans-serif;
	font-size: 28px;
}
.result-description {
	width: 100%;
	line-height: 32px;
	padding: 2px;
}

#buttons {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#buttons .button {
    width: 100%;
    text-align: center;
    padding: 8px 0px 8px 0px;
    margin-bottom: 2px;
    border-radius: 0px;
}

#main {
	height:500px;
}
.main-content {
	float:left;
	position:fixed;
	top: 65px;
	left: 50%;
    right: 0px;
	bottom: 0px;
	padding:0;
}
#res-image{
	width: 100%;
	height: 100%;
    background: url("../images/warm woodgrain.jpg");
    background-size: cover;
    background-position: center;
}
.footer{
	/* position & size */
    position: absolute;
    top: 710px;
    left: 0px;
    right: 0px;
    /* text */
    font-size: 11px;
    text-align: center;
    color: #000000;
    height:60px;
    width:100%;
}